<small>19:31 [0x2005267] (192,102,1)</small> || Gas pump was set to 4500 kPa by Low3/(Bryce Hayhurst).<br />
<small>19:31 [0x20054af] (192,104,1)</small> || Gas pump was set to 4500 kPa by Low3/(Bryce Hayhurst).<br />
<small>19:31 [0x2005270] (195,102,1)</small> || the manual valve was opened by Low3/(Bryce Hayhurst)<br />
<small>19:32 [0x20054af] (192,104,1)</small> || Gas pump was turned off by Low3/(Bryce Hayhurst).<br />
<small>19:33 [0x2005270] (195,102,1)</small> || the manual valve was closed by Low3/(Bryce Hayhurst)<br />
<small>19:34 [0x2005267] (192,102,1)</small> || Gas pump was turned off by Low3/(Bryce Hayhurst).<br />
<small>19:35 [0x2005267] (192,102,1)</small> || Gas pump was turned on by Low3/(Bryce Hayhurst).<br />
<small>19:35 [0x20054af] (192,104,1)</small> || Gas pump was turned on by Low3/(Bryce Hayhurst).<br />
<small>19:35 [0x20054b4] (195,104,1)</small> || the manual valve was opened by Low3/(Bryce Hayhurst)<br />
<small>19:36 [0x20054b4] (195,104,1)</small> || the manual valve was closed by Low3/(Bryce Hayhurst)<br />
<small>19:37 [0x2005a61] (192,107,1)</small> || the canister had its valve <b>OPENED</b> by Low3/(Bryce Hayhurst), starting transfer into the plasma tank<br />
<small>19:37 [0x2005a61] (192,107,1)</small> || the canister had its valve <b>closed</b> by Low3/(Bryce Hayhurst), stopping transfer into the plasma tank.<br />
<small>19:38 [0x2005dd5] (180,112,1)</small> || Canister: [O2] had its valve <b>OPENED</b> by Low3/(Bryce Hayhurst), starting transfer into the oxygen tank<br />
<small>19:38 [0x2005dd5] (180,112,1)</small> || Canister: [O2] had its valve <b>closed</b> by Low3/(Bryce Hayhurst), stopping transfer into the oxygen tank.<br />
<small>19:46 [0x2005a61] (197,107,1)</small> || the canister had its valve <b>OPENED</b> by low3/(unknown), starting transfer into the plasma tank<br />
<small>19:47 [0x20083a8] (192,107,1)</small> || Canister: [O2] had its valve <b>OPENED</b> by low3/(unknown), starting transfer into the oxygen tank<br />
<small>19:47 [0x20083a8] (192,107,1)</small> || Canister: [O2] had its valve <b>closed</b> by low3/(unknown), stopping transfer into the oxygen tank.<br />
<small>19:47 [0x2005a61] (197,107,1)</small> || the canister had its valve <b>closed</b> by low3/(unknown), stopping transfer into the plasma tank.<br />
